In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
pasta = os.getcwd()

In [19]:
#os.chdir(pasta + '/Entrada de Passageiros por Estação/')

url_2021 = "https://transparencia.metrosp.com.br/sites/default/files/Entrada%20de%20Passageiros%20por%20Esta%C3%A7%C3%A3o%20-%20M%C3%A9dia%20Dias%20%C3%9Ateis%20-%202021.csv"
url_2022 = "https://transparencia.metrosp.com.br/sites/default/files/Entrada%20de%20Passageiros%20por%20Esta%C3%A7%C3%A3o%20-%20M%C3%A9dia%20dias%20%C3%9Ateis%20-%202022_0.csv"
url_2023 = "https://transparencia.metrosp.com.br/sites/default/files/Entrada%20de%20Passageiros%20por%20Esta%C3%A7%C3%A3o%20-%20M%C3%A9dia%20Dias%20%C3%9Ateis%20-%202023_1.csv"



#    Passenger Entry by Station 2021
demanda_estacao_1_2021 = pd.read_csv(url_2021,encoding='latin-1',sep=';',skiprows=lambda x: x in range(0, 5),thousands='.').iloc[:23,0:14]
demanda_estacao_1_2021.columns = ['Station','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November','December','Mean']
demanda_estacao_1_2021['Year'] = '2021'
demanda_estacao_1_2021['Line'] = '1_Blue'


demanda_estacao_2_2021 = pd.read_csv(url_2021,encoding='latin-1',sep=';',skiprows=lambda x: x in range(0, 5),thousands='.').iloc[30:44,0:14]
demanda_estacao_2_2021.columns = ['Station','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November','December','Mean']
demanda_estacao_2_2021['Year'] = '2021'
demanda_estacao_2_2021['Line'] = '2_Green'

demanda_estacao_3_2021 = pd.read_csv(url_2021,encoding='latin-1',sep=';',skiprows=lambda x: x in range(0, 5),thousands='.').iloc[51:69,0:14]
demanda_estacao_3_2021.columns = ['Station','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November','December','Mean']
demanda_estacao_3_2021['Year'] = '2021'
demanda_estacao_3_2021['Line'] = '3_Red'

demanda_estacao_15_2021 = pd.read_csv(url_2021,encoding='latin-1',sep=';',skiprows=lambda x: x in range(0, 5),thousands='.').iloc[75:86,0:14]
demanda_estacao_15_2021.columns = ['Station','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November','December','Mean']
demanda_estacao_15_2021['Year'] = '2021'
demanda_estacao_15_2021['Line'] = '15_Silver'

demanda_estacao_4_2021 = pd.read_csv('demanda_estacao_4_2021.csv',encoding='latin-1').iloc[:11,1:]
                                     
                                     
demanda_estacao = pd.concat([demanda_estacao_1_2021, demanda_estacao_2_2021,demanda_estacao_3_2021,demanda_estacao_15_2021,demanda_estacao_4_2021], ignore_index=True) 

#   Passenger Entry by Station 2022

demanda_estacao_1_2022 = pd.read_csv(url_2022,encoding='latin-1',sep=';',skiprows=lambda x: x in range(0, 5),thousands='.').iloc[:23,0:14]
demanda_estacao_1_2022.columns = ['Station','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November','December','Mean']
demanda_estacao_1_2022['Year'] = '2022'
demanda_estacao_1_2022['Line'] = '1_Blue'

demanda_estacao_2_2022 = pd.read_csv(url_2022,encoding='latin-1',sep=';',skiprows=lambda x: x in range(0, 5),thousands='.').iloc[30:44,0:14]
demanda_estacao_2_2022.columns = ['Station','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November','December','Mean']
demanda_estacao_2_2022['Year'] = '2022'
demanda_estacao_2_2022['Line'] = '2_Green'


demanda_estacao_3_2022 = pd.read_csv(url_2022,encoding='latin-1',sep=';',skiprows=lambda x: x in range(0, 5),thousands='.').iloc[51:69,0:14]
demanda_estacao_3_2022.columns = ['Station','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November','December','Mean']
demanda_estacao_3_2022['Year'] = '2022'
demanda_estacao_3_2022['Line'] = '3_Red'

demanda_estacao_15_2022 = pd.read_csv(url_2022,encoding='latin-1',sep=';',skiprows=lambda x: x in range(0, 5),thousands='.').iloc[75:86,0:14]
demanda_estacao_15_2022.columns = ['Station','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November','December','Mean']
demanda_estacao_15_2022['Year'] = '2022'
demanda_estacao_15_2022['Line'] = '15_Silver'

demanda_estacao_4_2022 = pd.read_csv('demanda_estacao_4_2022.csv',encoding='latin-1').iloc[:11,1:]

demanda_estacao = pd.concat([demanda_estacao,demanda_estacao_1_2022, demanda_estacao_2_2022,demanda_estacao_3_2022,demanda_estacao_15_2022,demanda_estacao_4_2022], ignore_index=True) 

#    Passenger Entry by Station 2023

demanda_estacao_1_2023 = pd.read_csv(url_2023,encoding='latin-1',sep=';',skiprows=lambda x: x in range(0, 5),thousands='.').iloc[:23,0:14]
demanda_estacao_1_2023.columns = ['Station','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November','December','Mean']
demanda_estacao_1_2023['Year'] = '2023'
demanda_estacao_1_2023['Line'] = '1_Blue'

demanda_estacao_2_2023 = pd.read_csv(url_2023,encoding='latin-1',sep=';',skiprows=lambda x: x in range(0, 5),thousands='.').iloc[30:44,0:14]
demanda_estacao_2_2023.columns = ['Station','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November','December','Mean']
demanda_estacao_2_2023['Year'] = '2023'
demanda_estacao_2_2023['Line'] = '2_Green'


demanda_estacao_3_2023 = pd.read_csv(url_2023,encoding='latin-1',sep=';',skiprows=lambda x: x in range(0, 5),thousands='.').iloc[51:69,0:14]
demanda_estacao_3_2023.columns = ['Station','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November','December','Mean']
demanda_estacao_3_2023['Year'] = '2023'
demanda_estacao_3_2023['Line'] = '3_Red'

demanda_estacao_15_2023 = pd.read_csv(url_2023,encoding='latin-1',sep=';',skiprows=lambda x: x in range(0, 5),thousands='.').iloc[75:86,0:14]
demanda_estacao_15_2023.columns = ['Station','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November','December','Mean']
demanda_estacao_15_2023['Year'] = '2023'
demanda_estacao_15_2023['Line'] = '15_Silver'

demanda_estacao_4_2023 = pd.read_csv('demanda_estacao_4_2023.csv',encoding='latin-1').iloc[:11,1:]

demanda_estacao = pd.concat([demanda_estacao,demanda_estacao_1_2023, demanda_estacao_2_2023,demanda_estacao_3_2023,demanda_estacao_15_2023,demanda_estacao_4_2023], ignore_index=True) 



demanda_estacao.to_csv("entry_by_station_lines_1_2_3_4_15.csv")

display(demanda_estacao)

,Station,January,February,March,April,May,June,July,August,September,October,November,December,Mean,Year,Line
0,Jabaquara,46,48,40,39,45,46,48,51,55,57,61,59,50,2021,1_Blue
1,Conceição,15,16,12,12,14,15,15,16,18,19,20,19,16,2021,1_Blue
2,São Judas,9,9,7,7,8,9,9,10,10,11,12,11,9,2021,1_Blue
3,Saúde,16,17,13,13,15,16,16,18,19,20,21,20,17,2021,1_Blue
4,Praça da Árvore,9,10,8,8,9,9,10,11,11,12,13,12,10,2021,1_Blue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Oscar Freire,19.87,20.93,23.5,24.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.08,2023,4_Yellow
227,Paulista2,82.55,92.87,101.89,105.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.715,2023,4_Yellow
228,HigienÃ³polis - Mackenzie,14.58,23.5,27.51,27.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.2675,2023,4_Yellow
229,RepÃºblica3,90.08,96.67,102.68,106.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.9075,2023,4_Yellow
230,Luz4,113.58,120.29,136.49,135.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.5125,2023,4_Yellow